.red {
    background: red;
}
.rojo {
    box-shadow: rgb(255, 60, 0);
}
.grey {
    background: grey;
}
.semaforo {
    width: 100px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}